BT360Deploy/BT360Deploy/Service References/BizTalkGroupServiceReference/BizTalkGroupService27.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.kovai.co.uk/biztalk360/schemas/service/biztalkGroup/1.0" elementFormDefault="qualified" targetNamespace="http://www.kovai.co.uk/biztalk360/schemas/service/biztalkGroup/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bts2013r2lab01/BizTalk360/Services.REST/BizTalkGroupService.svc?xsd=xsd12" namespace="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" />
  <xs:import schemaLocation="http://bts2013r2lab01/BizTalk360/Services.REST/BizTalkGroupService.svc?xsd=xsd3" namespace="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" />
  <xs:import schemaLocation="http://bts2013r2lab01/BizTalk360/Services.REST/BizTalkGroupService.svc?xsd=xsd11" namespace="http://www.kovai.co.uk/biztalk360/schemas/entity/biztalkGroup/1.0" />
  <xs:import schemaLocation="http://bts2013r2lab01/BizTalk360/Services.REST/BizTalkGroupService.svc?xsd=xsd4" namespace="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" />
  <xs:import schemaLocation="http://bts2013r2lab01/BizTalk360/Services.REST/BizTalkGroupService.svc?xsd=xsd6" namespace="http://www.kovai.co.uk/biztalk360/schemas/entity/application/1.0" />
  <xs:import schemaLocation="http://bts2013r2lab01/BizTalk360/Services.REST/BizTalkGroupService.svc?xsd=xsd20" namespace="http://www.kovai.co.uk/biztalk360/schemas/entity/compositefilter/1.0" />
  <xs:complexType name="GetBizTalkServerListResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q1:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q2="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="biztalkServers" nillable="true" type="q2:BizTalkServers">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBizTalkServerListResponse" nillable="true" type="tns:GetBizTalkServerListResponse" />
  <xs:complexType name="GetApplicationAuditDataResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q3:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q4="http://www.kovai.co.uk/biztalk360/schemas/entity/biztalkGroup/1.0" minOccurs="0" name="applicationAuditCollection" nillable="true" type="q4:ApplicationAuditCollection">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetApplicationAuditDataResponse" nillable="true" type="tns:GetApplicationAuditDataResponse" />
  <xs:complexType name="GetGovernanceAuditActivityHistoryResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q5:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q6="http://www.kovai.co.uk/biztalk360/schemas/entity/biztalkGroup/1.0" minOccurs="0" name="governanceAuditActivityCollection" nillable="true" type="q6:GovernanceAuditActivityCollection">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetGovernanceAuditActivityHistoryResponse" nillable="true" type="tns:GetGovernanceAuditActivityHistoryResponse" />
  <xs:complexType name="GetHostInstanceAuditDataResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q7:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q8="http://www.kovai.co.uk/biztalk360/schemas/entity/biztalkGroup/1.0" minOccurs="0" name="hostInstanceAuditCollection" nillable="true" type="q8:HostInstanceAuditCollection">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetHostInstanceAuditDataResponse" nillable="true" type="tns:GetHostInstanceAuditDataResponse" />
  <xs:complexType name="GetBizTalkAdapterSettingResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q9:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q10="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="bizTalkAdapterSetting" nillable="true" type="q10:BizTalkAdapterSetting">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBizTalkAdapterSettingResponse" nillable="true" type="tns:GetBizTalkAdapterSettingResponse" />
  <xs:complexType name="GetBizTalkAdapterSettingsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q11:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q12="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="bizTalkAdapterSettings" nillable="true" type="q12:BizTalkAdapterSettings">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBizTalkAdapterSettingsResponse" nillable="true" type="tns:GetBizTalkAdapterSettingsResponse" />
  <xs:complexType name="GetMBVReportListResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q13:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q14="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="mbvReportList" nillable="true" type="q14:MBVReportLists">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetMBVReportListResponse" nillable="true" type="tns:GetMBVReportListResponse" />
  <xs:complexType name="GetCustomSQLQueryNamesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q15:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q16="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="queryList" nillable="true" type="q16:CustomSQLQueryLists">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCustomSQLQueryNamesResponse" nillable="true" type="tns:GetCustomSQLQueryNamesResponse" />
  <xs:complexType name="GetMBVLastReportResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q17:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q18="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="mbvReport" nillable="true" type="q18:MBVReport">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetMBVLastReportResponse" nillable="true" type="tns:GetMBVLastReportResponse" />
  <xs:complexType name="GetAuditArtifactsCountResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q19:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="count" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAuditArtifactsCountResponse" nillable="true" type="tns:GetAuditArtifactsCountResponse" />
  <xs:complexType name="GetMBVReportResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q20:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q21="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="mbvReport" nillable="true" type="q21:MBVReport">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetMBVReportResponse" nillable="true" type="tns:GetMBVReportResponse" />
  <xs:complexType name="GetPlatformSettingsStatisticsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q22:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q23="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="platformStatistics" nillable="true" type="q23:PlatformSettingsStatistics">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPlatformSettingsStatisticsResponse" nillable="true" type="tns:GetPlatformSettingsStatisticsResponse" />
  <xs:complexType name="ExecuteBizTalkHostOperationResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q24:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q25="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" minOccurs="0" name="hostNames" nillable="true" type="q25:StringList">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q26="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" minOccurs="0" name="bizTalkHostOperation" type="q26:BizTalkHostOperation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExecuteBizTalkHostOperationResponse" nillable="true" type="tns:ExecuteBizTalkHostOperationResponse" />
  <xs:complexType name="GetBizTalkHostInstancesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q27:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q28="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" minOccurs="0" name="biztalkHostInstances" nillable="true" type="q28:BizTalkHostInstances">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBizTalkHostInstancesResponse" nillable="true" type="tns:GetBizTalkHostInstancesResponse" />
  <xs:complexType name="GetBizTalkHostResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q29:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q30="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" minOccurs="0" name="biztalkHost" nillable="true" type="q30:BizTalkHost">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBizTalkHostResponse" nillable="true" type="tns:GetBizTalkHostResponse" />
  <xs:complexType name="GetSqlJobsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q31:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q32="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="sqlJobs" nillable="true" type="q32:SqlJobs">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSqlJobsResponse" nillable="true" type="tns:GetSqlJobsResponse" />
  <xs:complexType name="GetBizTalkHostsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q33="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q33:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q34="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" minOccurs="0" name="biztalkHosts" nillable="true" type="q34:BizTalkHosts">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBizTalkHostsResponse" nillable="true" type="tns:GetBizTalkHostsResponse" />
  <xs:complexType name="GetBizTalkApplicationsListResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q35="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q35:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q36="http://www.kovai.co.uk/biztalk360/schemas/entity/application/1.0" minOccurs="0" name="biztalkApplications" nillable="true" type="q36:BizTalkApplicationCollection">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBizTalkApplicationsListResponse" nillable="true" type="tns:GetBizTalkApplicationsListResponse" />
  <xs:complexType name="GetMessageBoxDatabasesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q37="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q37:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q38="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="messageBoxes" nillable="true" type="q38:MessageBoxDatabases">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetMessageBoxDatabasesResponse" nillable="true" type="tns:GetMessageBoxDatabasesResponse" />
  <xs:complexType name="GetBizTalkApplicationNamesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q39="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q39:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q40="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" minOccurs="0" name="biztalkApplicationNames" nillable="true" type="q40:StringList">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBizTalkApplicationNamesResponse" nillable="true" type="tns:GetBizTalkApplicationNamesResponse" />
  <xs:complexType name="ExecuteBizTalkHostInstanceOperationResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q41="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q41:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="serverName" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q42="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" minOccurs="0" name="bizTalkHostInstanceOperation" type="q42:BizTalkHostInstanceOperation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExecuteBizTalkHostInstanceOperationResponse" nillable="true" type="tns:ExecuteBizTalkHostInstanceOperationResponse" />
  <xs:complexType name="ExecuteBizTalkHostInstanceOperationBulkResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q43="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q43:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q44="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" minOccurs="0" name="hostInstances" nillable="true" type="q44:BizTalkHostInstances">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q45="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" minOccurs="0" name="bizTalkHostInstanceOperation" type="q45:BizTalkHostInstanceOperation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExecuteBizTalkHostInstanceOperationBulkResponse" nillable="true" type="tns:ExecuteBizTalkHostInstanceOperationBulkResponse" />
  <xs:complexType name="ExecuteCustomSQLQueryResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q46="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q46:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="queryResult" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="downloadLink" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExecuteCustomSQLQueryResponse" nillable="true" type="tns:ExecuteCustomSQLQueryResponse" />
  <xs:complexType name="GetDocSpecPropertyNamesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q47="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q47:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q48="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" minOccurs="0" name="properties" nillable="true" type="q48:StringList">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDocSpecPropertyNamesResponse" nillable="true" type="tns:GetDocSpecPropertyNamesResponse" />
  <xs:complexType name="GetBizTalkHostsStatisticsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q49="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q49:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q50="http://www.kovai.co.uk/biztalk360/schemas/entity/biztalkGroup/1.0" minOccurs="0" name="statistics" nillable="true" type="q50:BizTalkHostsStatistics">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBizTalkHostsStatisticsResponse" nillable="true" type="tns:GetBizTalkHostsStatisticsResponse" />
  <xs:complexType name="GetBackupJobConfigurationResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q51="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q51:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q52="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="backupJobConfiguration" nillable="true" type="q52:BackupJobConfiguration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBackupJobConfigurationResponse" nillable="true" type="tns:GetBackupJobConfigurationResponse" />
  <xs:complexType name="UpdateBackupJobConfigurationResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q53="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q53:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q54="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="backupJobConfiguration" nillable="true" type="q54:BackupJobConfiguration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateBackupJobConfigurationResponse" nillable="true" type="tns:UpdateBackupJobConfigurationResponse" />
  <xs:complexType name="GetStandByBackupHealthDetailsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q55="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q55:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q56="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" name="isStandbyEnvironmentConfigured" type="q56:ChoiceYesNoUnknown" />
          <xs:element xmlns:q57="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="restoreHealthDetails" nillable="true" type="q57:BackupStandbyHealthDetail">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetStandByBackupHealthDetailsResponse" nillable="true" type="tns:GetStandByBackupHealthDetailsResponse" />
  <xs:complexType name="ManageCustomSQLQueryResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q58="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q58:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q59="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" name="operation" type="q59:CustomSQLOperation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManageCustomSQLQueryResponse" nillable="true" type="tns:ManageCustomSQLQueryResponse" />
  <xs:complexType name="GetLiveBackupHealthDetailsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q60="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q60:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q61="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="backupHealthDetails" nillable="true" type="q61:BackupLiveHealthDetail">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLiveBackupHealthDetailsResponse" nillable="true" type="tns:GetLiveBackupHealthDetailsResponse" />
  <xs:complexType name="GetOrchestrationsStatisticsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q62="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q62:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q63="http://www.kovai.co.uk/biztalk360/schemas/entity/biztalkGroup/1.0" minOccurs="0" name="statistics" nillable="true" type="q63:OrchestrationsStatistics">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetOrchestrationsStatisticsResponse" nillable="true" type="tns:GetOrchestrationsStatisticsResponse" />
  <xs:complexType name="GetBizTalkApplicationsStatisticsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q64="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q64:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q65="http://www.kovai.co.uk/biztalk360/schemas/entity/biztalkGroup/1.0" minOccurs="0" name="statistics" nillable="true" type="q65:BizTalkApplicationsStatistics">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBizTalkApplicationsStatisticsResponse" nillable="true" type="tns:GetBizTalkApplicationsStatisticsResponse" />
  <xs:complexType name="GetReceiveLocationsStatisticsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q66="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q66:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q67="http://www.kovai.co.uk/biztalk360/schemas/entity/biztalkGroup/1.0" minOccurs="0" name="statistics" nillable="true" type="q67:ReceiveLocationsStatistics">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetReceiveLocationsStatisticsResponse" nillable="true" type="tns:GetReceiveLocationsStatisticsResponse" />
  <xs:complexType name="GetConfiguredStandbySQLInstanceResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q68="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q68:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="sqlInstanceName" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetConfiguredStandbySQLInstanceResponse" nillable="true" type="tns:GetConfiguredStandbySQLInstanceResponse" />
  <xs:complexType name="GetSendPortsStatisticsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q69="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q69:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q70="http://www.kovai.co.uk/biztalk360/schemas/entity/biztalkGroup/1.0" minOccurs="0" name="statistics" nillable="true" type="q70:SendPortsStatistics">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSendPortsStatisticsResponse" nillable="true" type="tns:GetSendPortsStatisticsResponse" />
  <xs:complexType name="GetBizTalkServerResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q71="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q71:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q72="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="biztalkServer" nillable="true" type="q72:BizTalkServer">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBizTalkServerResponse" nillable="true" type="tns:GetBizTalkServerResponse" />
  <xs:complexType name="GetUserNTGroupsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q73="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q73:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q74="http://www.kovai.co.uk/biztalk360/schemas/entity/biztalkGroup/1.0" minOccurs="0" name="groups" nillable="true" type="q74:UserNTGroups">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUserNTGroupsResponse" nillable="true" type="tns:GetUserNTGroupsResponse" />
  <xs:complexType name="GetBizTalkGroupDatabasesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q75="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q75:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q76="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="databases" nillable="true" type="q76:BizTalkGroupDatabases">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBizTalkGroupDatabasesResponse" nillable="true" type="tns:GetBizTalkGroupDatabasesResponse" />
  <xs:complexType name="GetTopologyResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q77="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q77:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q78="http://www.kovai.co.uk/biztalk360/schemas/entity/biztalkGroup/1.0" minOccurs="0" name="topology" nillable="true" type="q78:Topology">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetTopologyResponse" nillable="true" type="tns:GetTopologyResponse" />
  <xs:complexType name="GetSuspendedInstancesCountResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q79="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q79:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="suspendedInstanceCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSuspendedInstancesCountResponse" nillable="true" type="tns:GetSuspendedInstancesCountResponse" />
  <xs:complexType name="GetSqlServerInstancesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q80="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q80:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q81="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="sqlServerInstances" nillable="true" type="q81:SqlServerInstances">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSqlServerInstancesResponse" nillable="true" type="tns:GetSqlServerInstancesResponse" />
  <xs:complexType name="GetSqlServerInstanceResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q82="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q82:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q83="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="sqlServerInstance" nillable="true" type="q83:SqlServerInstance">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSqlServerInstanceResponse" nillable="true" type="tns:GetSqlServerInstanceResponse" />
  <xs:complexType name="GetPhysicalSqlServerResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q84="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q84:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q85="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="physicalSqlServer" nillable="true" type="q85:PhysicalSqlServer">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPhysicalSqlServerResponse" nillable="true" type="tns:GetPhysicalSqlServerResponse" />
  <xs:complexType name="GetSqlServerPhysicalNamesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q86="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q86:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q87="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="serverNames" nillable="true" type="q87:ServerNames">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSqlServerPhysicalNamesResponse" nillable="true" type="tns:GetSqlServerPhysicalNamesResponse" />
  <xs:complexType name="GetPhysicalSqlServersResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q88="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q88:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q89="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="physicalSqlServers" nillable="true" type="q89:PhysicalSqlServers">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPhysicalSqlServersResponse" nillable="true" type="tns:GetPhysicalSqlServersResponse" />
  <xs:complexType name="GetBizTalkGroupStatisticsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q90="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q90:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q91="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="bizTalkGroupStatistics" nillable="true" type="q91:BizTalkGroupStatistics">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBizTalkGroupStatisticsResponse" nillable="true" type="tns:GetBizTalkGroupStatisticsResponse" />
  <xs:complexType name="BizTalkGroupServiceResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q92="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q92:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BizTalkGroupServiceResponse" nillable="true" type="tns:BizTalkGroupServiceResponse" />
  <xs:complexType name="GetBizTalkGroupGeneralResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q93="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q93:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q94="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="bizTalkGroupGeneral" nillable="true" type="q94:BizTalkGroupGeneral">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBizTalkGroupGeneralResponse" nillable="true" type="tns:GetBizTalkGroupGeneralResponse" />
  <xs:complexType name="ExecuteBizTalkHostOperationRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q95="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q95:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q96="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" name="hostNames" nillable="true" type="q96:StringList">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q97="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" name="operation" type="q97:BizTalkHostOperation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExecuteBizTalkHostOperationRequest" nillable="true" type="tns:ExecuteBizTalkHostOperationRequest" />
  <xs:complexType name="UpdateConfiguredStandbySQLInstanceRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q98="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q98:BaseRequest">
        <xs:sequence>
          <xs:element name="standbySqlInstanceName" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateConfiguredStandbySQLInstanceRequest" nillable="true" type="tns:UpdateConfiguredStandbySQLInstanceRequest" />
  <xs:complexType name="UpdateBackupJobConfigurationRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q99="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q99:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q100="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" name="backupJobConfiguration" nillable="true" type="q100:BackupJobConfiguration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateBackupJobConfigurationRequest" nillable="true" type="tns:UpdateBackupJobConfigurationRequest" />
  <xs:complexType name="GetSuspendedInstancesCountRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q101="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q101:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q102="http://www.kovai.co.uk/biztalk360/schemas/entity/biztalkGroup/1.0" name="level" type="q102:SuspendedInstancesLevel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSuspendedInstancesCountRequest" nillable="true" type="tns:GetSuspendedInstancesCountRequest" />
  <xs:complexType name="GetApplicationAuditDataRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q103="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q103:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q104="http://www.kovai.co.uk/biztalk360/schemas/entity/compositefilter/1.0" name="filter" nillable="true" type="q104:CompositeFilter">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="rowPerPage" type="xs:int" />
          <xs:element name="pageNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetApplicationAuditDataRequest" nillable="true" type="tns:GetApplicationAuditDataRequest" />
  <xs:complexType name="ExecuteCustomSQLQueryRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q105="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q105:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q106="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" minOccurs="0" name="query" nillable="true" type="q106:CustomSQLQuery">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExecuteCustomSQLQueryRequest" nillable="true" type="tns:ExecuteCustomSQLQueryRequest" />
  <xs:complexType name="ManageCustomSQLQueryRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q107="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q107:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q108="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" name="query" nillable="true" type="q108:CustomSQLQuery">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q109="http://www.kovai.co.uk/biztalk360/schemas/entity/platform/1.0" name="operation" type="q109:CustomSQLOperation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManageCustomSQLQueryRequest" nillable="true" type="tns:ManageCustomSQLQueryRequest" />
  <xs:complexType name="ExecuteBizTalkHostInstanceOperationRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q110="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q110:BaseRequest">
        <xs:sequence>
          <xs:element name="biztalkServerName" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="hostName" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q111="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" name="operation" type="q111:BizTalkHostInstanceOperation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExecuteBizTalkHostInstanceOperationRequest" nillable="true" type="tns:ExecuteBizTalkHostInstanceOperationRequest" />
  <xs:complexType name="ExecuteBizTalkHostInstanceOperationBulkRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q112="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q112:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q113="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" name="hostInstances" nillable="true" type="q113:BizTalkHostInstances">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q114="http://www.kovai.co.uk/biztalk360/schemas/entity/common/1.0" name="operation" type="q114:BizTalkHostInstanceOperation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExecuteBizTalkHostInstanceOperationBulkRequest" nillable="true" type="tns:ExecuteBizTalkHostInstanceOperationBulkRequest" />
  <xs:complexType name="GetHostInstanceAuditDataRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q115="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q115:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q116="http://www.kovai.co.uk/biztalk360/schemas/entity/compositefilter/1.0" name="filter" nillable="true" type="q116:CompositeFilter">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="rowPerPage" type="xs:int" />
          <xs:element name="pageNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetHostInstanceAuditDataRequest" nillable="true" type="tns:GetHostInstanceAuditDataRequest" />
  <xs:complexType name="BizTalkGroupServiceRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q117="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q117:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BizTalkGroupServiceRequest" nillable="true" type="tns:BizTalkGroupServiceRequest" />
  <xs:complexType name="GetGovernanceAuditActivityHistoryRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q118="http://www.kovai.co.uk/biztalk360/schemas/service/basedatatypes/1.0" base="q118:BaseRequest">
        <xs:sequence>
          <xs:element name="activityId" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="fromDateTime" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetGovernanceAuditActivityHistoryRequest" nillable="true" type="tns:GetGovernanceAuditActivityHistoryRequest" />
</xs:schema>